@font-face {
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin-top: 50px;
    background-color: #2b2b2b;
    color: #f0f0f0;
    background-image: url('/static/media/concordia-inverse-logo-dark.png');
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px - 3rem)
}

select, input {
    background-color: #2b2b2b !important;
    color: #f0f0f0 !important;
}

select:disabled, input:disabled {
    background-color: #2b2b2b !important;
    color: #3f3f3f !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.content-block {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #303030;
    border-radius: 5px;
    border-top: 7px solid #94dcdc;
    font-family: jetBrainsMono, sans-serif;
    display: inline-block;
}

div.modal-content {
    background-color: #2b2b2b !important;
    color: #f0f0f0 !important;
}

div#green {
    border-top: 7px solid #70d070;
}

div#red {
    border-top: 7px solid #e06e6e;
}

#content-wrap {
    min-height: calc(100vh - 50px - 3rem)
}

#content-col{
    padding-left: 50px;
    padding-right: 50px;
}

.footer-bar {
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    color: #f0f0f0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.form-field{
    padding: 5px 10px 3px 3px;
}

button#to-confirm{
    margin-left: 6px;
    margin-top: 5px;
}
