server_tokens off;
add_header X-Frame-Options SAMEORIGIN;
add_header X-Content-Type-Options nosniff;
add_header X-XSS-Protection "1; mode=block";
add_header Strict-Transport-Security "max-age=31536000" always;
add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
add_header Content-Security-Policy "default-src 'self'; connect-src https://api.ddosclearinghouse.eu https://www.ddosclearinghouse.eu; font-src https://cdn.jsdelivr.net; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline'" always;
add_header Referrer-Policy "strict-origin" always;

ssl_stapling on;
ssl_stapling_verify on;
ssl_trusted_certificate /etc/letsencrypt/live/ddosclearinghouse.eu/fullchain.pem;

# Redirect http://ddosclearinghouse.eu --301-> https://ddosclearinghouse.eu
server {
    listen 80;
    listen [::]:80;
    server_name ddosclearinghouse.eu;

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 https://ddosclearinghouse.eu$request_uri;
    }

}

# Redirect http://(www|api).ddosclearinghouse.eu --301-> https://(www|api).ddosclearinghouse.eu
server {
    listen 80;
    listen [::]:80;
    server_name www.ddosclearinghouse.eu api.ddosclearinghouse.eu;

    return 301 https://$host$request_uri;
}

# Redirect https://ddosclearinghouse.eu --301-> https://www.ddosclearinghouse.eu
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name ddosclearinghouse.eu;

    ssl_certificate /etc/letsencrypt/live/ddosclearinghouse.eu/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ddosclearinghouse.eu/privkey.pem;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 1d;
    ssl_session_tickets on;

    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;
    ssl_prefer_server_ciphers on;

    resolver 8.8.8.8 8.8.4.4;

    return 301 https://www.$host$request_uri;
}

# serve https://(www|api).ddosclearinghouse.eu
server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name www.ddosclearinghouse.eu api.ddosclearinghouse.eu;

    ssl_certificate /etc/letsencrypt/live/ddosclearinghouse.eu/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/ddosclearinghouse.eu/privkey.pem;

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 1d;
    ssl_session_tickets on;

    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers ECDH+AESGCM:ECDH+AES256:ECDH+AES128:DH+3DES:!ADH:!AECDH:!MD5;
    ssl_prefer_server_ciphers on;

    resolver 8.8.8.8 8.8.4.4;

    location /organization1 {

        # Satisfy all constraints: IP whitelist and HTTP Basic Auth
        satisfy all;

        # IP WHITELIST HERE
        allow xxx.xxx.xxx.xxx;
        allow xxx.xxx.xxx.xxx;

        # Deny all other IPs
        deny all;

        # HTTP Basic Authentication (change the filename)
        auth_basic "ORGANIZATION 1 area";
        auth_basic_user_file /etc/nginx/conf.d/organization1.htpasswd;

        add_header Access-Control-Allow-Origin 'https://www.ddosclearinghouse.eu';
        add_header Access-Control-Allow-Credentials true;

        include uwsgi_params;
        uwsgi_pass flask:8080;
    }

    location /organization2 {

        # IP filtering
        satisfy all;

        # IP WHITELIST HERE
        allow xxx.xxx.xxx.xxx;

        deny all;

        auth_basic "ORGANIZATION 2 area";
        auth_basic_user_file /etc/nginx/conf.d/organization2.htpasswd;

        add_header Access-Control-Allow-Origin 'https://www.ddosclearinghouse.eu';
        add_header Access-Control-Allow-Credentials true;

        include uwsgi_params;
        uwsgi_pass flask:8080;
    }

    location / {

        # IP filtering
        satisfy all;

        # In this block include all IP addresses that are whitelisted in one of the blocks above

        # IP WHITELIST HERE (include all IP addresses whitelisted in previous locaion blocks)
        # ORGANIZATION1
        allow xxx.xxx.xxx.xxx;
        allow xxx.xxx.xxx.xxx;

        # ORGANIZATION2
        allow xxx.xxx.xxx.xxx;

        deny all;

        add_header Access-Control-Allow-Origin 'https://www.ddosclearinghouse.eu';
        add_header Access-Control-Allow-Credentials true;

        include uwsgi_params;
        uwsgi_pass flask:8080;
    }
}
